.footer-block{
    display: flex;
    align-items: baseline;
}
.footer {
    background-color: var(--third-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-list__item:not(:first-child){
    margin-top: 9px;
 } 
 .footer__logo{
    margin-bottom: 20px;
 }
 .footer__logo-item{
    color: var(--secondary-text-color);
 }
.footer-list__link {
    @include fonts(400, 14px, 24px);
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: var(--accent-color);
    }
}
.footer-list__link_color-white{
    color: var(--secondary-text-color);
}
.footer__social-block{
    margin-left: 70px;
}
.footer-title{
    margin-bottom: 20px;
    @include fonts(700, 14px, 16px);
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.footer__form-field{
    margin-left: auto;
}
.footer-form{
    display: flex;
}
.footer-form__input{
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border: 1px solid var(--accent-color);
    }
}
.footer-form__input::placeholder{
    @include fonts(400, 16px, 20px);
    @include flex-align();
    color: rgba(255, 255, 255, 0.6);
}
.footer-form__button{
    @include flex-centred();
    margin-left: 12px;
    &::after{
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../images/send.svg);
        margin-left: 10px;
     }
}
