.our-team{
    background: var(--primary-bg-color);
}
.our-team__main-title{
    margin: 0 auto;
    margin-bottom: 50px;
}
.our-team-list{
    display: flex;
    flex-wrap: wrap;
}
.our-team-list__item{
    background: var(--secondary-text-color);
    flex-basis: calc((100% - (3 * 30px)) / 4);
    margin-left: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    &:nth-child(1){
        margin-left: 0;
    }
}
.our-team-content{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--secondary-text-color);

}
.our-team-content__name {
    @include fonts(500, 16px, 19px);
    text-align: center;
    color: var(--primary-title-color);
}
.our-team-content__profession {
    margin-top: 10px;

    @include fonts(400, 16px, 19px);
    text-align: center;
    color: var(--primary-text-color);
}